div.row
  div.col-xs-12
    div#header
      div.page-header
        h1
          a(href='/admin/administrators/') Administrators
          |  / {{identity.name.first}} {{identity.name.last}}

    alert(type='danger' ng-show='error' close='error = null') {{error}}
    
    form#details(ng-submit='identitySubmit(identity.name)' name='identityForm' novalidate)
      fieldset
        legend Contact Info
        alert(type='danger' ng-show='identity.error' close='identity.error = null') {{identity.error}}
        alert(type='success' ng-show='identity.success' close='identity.success = null') We updated your identity informations.
        div.form-group
          label First Name:
          input.form-control(type='text' name='first' ng-model='identity.name.first' required)
        div.form-group
          label Middle Name:
          input.form-control(type='text' name='middle' ng-model='identity.name.middle')
        div.form-group
          label Last Name:
          input.form-control(type='text' name='last' ng-model='identity.name.last' required)
        div.form-group
          button.btn.btn-primary.btn-update(type='submit' ng-disabled='identityForm.$invalid') Update

    div#link-user
      fieldset
        legend Login
        alert(type='danger' ng-show='user.error' close='user.error = null') {{user.error}}
        alert(type='success' ng-show='user.success' close='user.success = null') {{user.success}}
        div(ng-show='identity.user')
          label Username:
          div.input-group
            input.form-control(disabled=true ng-model='identity.user.name')
            div.input-group-btn
              button.btn.btn-warning.btn-user-unlink(type='button' ng-click='user.unlink()') Unlink
              button.btn.btn-default.btn-user-open(type='button' ui-sref='admin.userdetail({ id: identity.user.id })') Open
          
        form(ng-hide='identity.user' ng-submit='user.link(user.data)' name='linkUserForm' novalidate)
          label Username:
          div.input-group
            input.form-control(name='newUsername' ng-model='user.data' type='text' placeholder='enter a username' required)
            span.input-group-btn
              button.btn.btn-success.btn-user-link(type='submit' ng-disabled='linkUserForm.$invalid') Link
          
    //- div#groups
    //-   fieldset
    //-     legend Groups
    //-     alert(type='danger' ng-show='group.error' close='group.error = null') {{group.error}}
    //-     alert(type='success' ng-show='group.success' close='group.success = null') {{group.success}}
    //-     form.form-group
    //-       label Add Membership:
    //-       div.input-group
    //-         select.form-control(name='newMembership')
    //-           //for group in data.adminGroups
    //-           option(value='#{group._id}') #{group.name}
    //-         div.input-group-btn
    //-           button.btn.btn-success.btn-add(type='button') Add
    //-     div.form-group
    //-       label Memberships:
    //-       div.groups
    //-         div(ng-show='identity.groups')
    //-           div.input-group
    //-             input.form-control(disabled=true ng-value='identity.groups.root')
    //-             div.input-group-btn
    //-               button.btn.btn-danger.btn-delete(type='button' ng-click='group.delete()')
    //-                 i.fa.fa-trash-o.fa-inverse
    //-         span.badge(ng-hide='identity.groups') no memberships defined
            

    //- Seems broken in frame
    //- div#permissions
    //-   fieldset
    //-     legend Permissions
    //-     alert(type='danger' ng-show='permission.error' close='permission.error = null') {{permission.error}}
    //-     alert(type='success' ng-show='permission.success' close='permission.success = null') {{permission.success}}
    //-     form.form-group(ng-submit='permission.submit(permission.data)' name='permissionForm' novalidate)
    //-       label New Setting:
    //-       div.input-group
    //-         input.form-control(name='newPermission' ng-model='permission.data' type='text' placeholder='enter a name' required)
    //-         div.input-group-btn
    //-           button.btn.btn-success.btn-add(type='submit' ng-disabled='permissionForm.$invalid') Add
    //-     div.form-group
    //-       label Settings:
    //-       div.permissions(ng-show='identity.permissions' ng-repeat='permissionObj in identity.permissions')
    //-         div.input-group
    //-           input.form-control(disabled=true ng-value='permissionObj.name')
    //-           div.input-group-btn
    //-             button.btn.btn-default.btn-allow(type='button' ng-disabled='permissionObj.permit') Allow
    //-             button.btn.btn-default.btn-deny(type='button' ng-disabled='!permissionObj.permit') Deny
    //-             button.btn.btn-danger.btn-delete(type='button' ng-click='permission.delete(permissionObj)')
    //-               i.fa.fa-trash-o.fa-inverse
    //-       div.permissions(ng-hide='identity.permissions')
    //-         span.badge no permissions defined
      
      
    div#delete
      fieldset
        legend Danger Zone
        alert(type='danger' ng-show='deleteAdminError.error' close='deleteAdminError.error = null') {{deleteAdminError.error}}
        div.form-group
          span.help-block
            span.label.label-danger If you do this it cannot be undone.
            |&nbsp;
            span.text-muted You may also create orphaned document relationships too.
        div.form-group
          button.btn.btn-danger.btn-delete(type='button' ng-click='deleteAdmin()') Delete
