div.row
  div.col-xs-12
    div#header
      div.page-header
        h1
          a(href='/admin/administrators/') Administrators
          |  / {{identity.name.first}} {{identity.name.last}}

    alert(type='danger' ng-show='error' close='error = null') {{error}}
    
    form#details(ng-submit='identitySubmit(identity.name)' name='identityForm' novalidate)
      fieldset
        legend Contact Info
        alert(type='danger' ng-show='identity.error' close='identity.error = null') {{identity.error}}
        alert(type='success' ng-show='identity.success' close='identity.success = null') We updated your identity informations.
        div.form-group
          label First Name:
          input.form-control(type='text' name='first' ng-model='identity.name.first' required)
        div.form-group
          label Middle Name:
          input.form-control(type='text' name='middle' ng-model='identity.name.middle')
        div.form-group
          label Last Name:
          input.form-control(type='text' name='last' ng-model='identity.name.last' required)
        div.form-group
          button.btn.btn-primary.btn-update(type='submit' ng-disabled='identityForm.$invalid') Update

    div#link-user
      fieldset
        legend Login
        alert(type='danger' ng-show='user.error' close='user.error = null') {{user.error}}
        alert(type='success' ng-show='user.success' close='user.success = null') {{user.success}}
        div(ng-show='identity.user')
          label Username:
          div.input-group
            input.form-control(disabled=true ng-model='identity.user.name')
            div.input-group-btn
              button.btn.btn-warning.btn-user-unlink(type='button' ng-click='user.unlink()') Unlink
              button.btn.btn-default.btn-user-open(type='button' ui-sref='admin.userdetail({ id: identity.user.id })') Open
          
        form(ng-hide='identity.user' ng-submit='user.link(user.data)' name='linkUserForm' novalidate)
          label Username:
          div.input-group
            input.form-control(name='newUsername' ng-model='user.data' type='text' placeholder='enter a username' required)
            span.input-group-btn
              button.btn.btn-success.btn-user-link(type='submit' ng-disabled='linkUserForm.$invalid') Link
          
    //- div#groups
    //-   fieldset
    //-     legend Groups
    //-     // alert
    //-     div.form-group
    //-       label Add Membership:
    //-       div.input-group
    //-         select.form-control(name='newMembership')
    //-           for group in data.adminGroups
    //-             option(value='#{group._id}') #{group.name}
    //-         div.input-group-btn
    //-           button.btn.btn-success.btn-add(type='button') Add
    //-     div.form-group
    //-       label Memberships:
    //-       div.groups
    //-         |<% _.each(groups function(group) { %>
    //-         div.input-group
    //-           input.form-control(disabled=true value='<%= group.name %>')
    //-           div.input-group-btn
    //-             button.btn.btn-danger.btn-delete(type='button')
    //-               i.fa.fa-trash-o.fa-inverse
    //-         |<% }); %>
    //-         |<% if (groups.length == 0) { %>
    //-         span.badge no memberships defined
    //-         |<% } %>
    //-     div.form-group
    //-       button.btn.btn-primary.btn-save(type='button') Save Groups
          
          
    //- div#permissions
    //-   fieldset
    //-     legend Permissions
    //-     // Alert
    //-     div.form-group
    //-       label New Setting:
    //-       div.input-group
    //-         input.form-control(name='newPermission' type='text' placeholder='enter a name')
    //-         div.input-group-btn
    //-           button.btn.btn-success.btn-add(type='button') Add
    //-     div.form-group
    //-       label Settings:
    //-       div.permissions
    //-         |<% _.each(permissions function(permission) { %>
    //-         div.input-group
    //-           input.form-control(disabled=true value='<%= permission.name %>')
    //-           div.input-group-btn
    //-             |<% if (permission.permit) { %>
    //-             button.btn.btn-default.btn-allow(type='button' disabled) Allow
    //-             button.btn.btn-default.btn-deny(type='button') Deny
    //-             |<% } else { %>
    //-             button.btn.btn-default.btn-allow(type='button') Allow
    //-             button.btn.btn-default.btn-deny(type='button' disabled) Deny
    //-             |<% } %>
    //-             button.btn.btn-danger.btn-delete(type='button')
    //-               i.fa.fa-trash-o.fa-inverse
    //-         |<% }); %>
    //-         |<% if (permissions.length == 0) { %>
    //-         span.badge no permissions defined
    //-         |<% } %>
    //-     div.form-group
    //-       button.btn.btn-primary.btn-set(type='button') Save Settings
      
      
    div#delete
      fieldset
        legend Danger Zone
        alert(type='danger' ng-show='deleteAdminError.error' close='deleteAdminError.error = null') {{deleteAdminError.error}}
        div.form-group
          span.help-block
            span.label.label-danger If you do this it cannot be undone.
            |&nbsp;
            span.text-muted You may also create orphaned document relationships too.
        div.form-group
          button.btn.btn-danger.btn-delete(type='button' ng-click='deleteAdmin()') Delete
